page-tabs {
  .tabs-md .tab-button-icon{
    width:100%;
    padding: 0 5px;
  }
  ion-icon {
    &[class*="ion-md-"] {
      // Instead of using the font-based icons
      // We're applying SVG masks
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      width: 1em;
      height: 1em;
    }
    // custom icons
    &[class*="ion-md-chatboxes"] {
      mask-image: url(../assets/img/tabs/message.svg);
    }
    &[class*="ion-md-propose"] {
      mask-image: url(../assets/img/tabs/propose.svg);
    }
    &[class*="ion-md-home"] {
      mask-image: url(../assets/img/tabs/home.svg);
    }
    &[class*="ion-md-search"] {
      mask-image: url(../assets/img/tabs/search.svg);
    }
    &[class*="ion-md-profil"] {
      mask-image: url(../assets/img/tabs/profil.svg);
    }
  }
}
