/*****************
ANNOUNCEMENTS
*****************/
page-announcement-details {
    .header{
      height:250px;
      overflow:hidden;
      position:relative;
      @include bgImg();
      .icon-share{
        position:absolute;
        top:0;
        right:0;
        a img{
          width:50px;
        }
      }
    }
    .desc-container{
      .desc-header{
        @include flexCenter();
        h2{
          width:60%;
          padding:10px 0;
        }
        .type{
          width:40%;
          margin-left:5px;
          div{
            margin:20px 0;
          }
        }
      }
      .desc{
        text-align: justify;
      }
    }
    .price-container{
      border-top:3px solid;
      border-bottom:3px solid;
      border-image: linear-gradient(135deg,$bleu,$vert) 1;
      margin: 25px 0;
      padding:15px 0;

      .title{
        @include flexCenter();
        .bold{
          font-size:30px;
        }
        p{
          background-image: linear-gradient(to bottom right, $bleu, $vert);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size:24px;
          line-height:30px;
          font-weight:900;
        }
      }
    }
    .img-container{
      .container{
        @include flexCenter();
        margin: 20px 0;
        .image-item{
          width:45%;
          border-radius:20px;
          @include bgImg();
          height:110px;

        }
      }
    }
  .geolocation-container{
    iframe{
      width: 100vw;
      transform: translateX(-5%);
    }
  }
  .account-container{
    .account-infos{
      @include flexCenter();
      padding-bottom:20px;
      >div{
        width:45%;
      }
      p{
        -webkit-margin-before: 0.3em;
        -webkit-margin-after: 0.3em;
      }
      .info-user{
        a{
          position: relative;
          display:block;
          .progress-profil{
            border-radius:50%;
            background-size:cover;
          }
          .certified{
            width: 25px;
            position: absolute;
            bottom: -15px;
            right: 25px;
            z-index:2;
          }
          .level-user{
            border-radius: 50%;
            border: 2px solid $bleu-clair;
            background-color: $blanc;
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: -12px;
            right: -5px;
            z-index: 1;
            text-align:center;
            @include respond-to(xs) {
              width: 25%;
              height: 25%;
            }
            .level{
              line-height: 36px;
              font-size: 20px;
              @include respond-to(xs) {
                font-size: 40px;
                line-height: 60px;
              }
            }
          }
        }
      }
    }
  }
  .links{
    @include flexCenter();
    a{}
  }

  @keyframes load{0%{stroke-dashoffset:0}}
  .progress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    &>li {
      display: inline-block;
      position: relative;
      text-align: center;
      color: #93A2AC;
      font-family: Lato;
      font-weight:100;
      margin: 2rem;
      &:before {
        content: attr(data-name);
        position: absolute;
        width: 100%;
        bottom: -2rem;
        font-weight:400;
      }
      &:after {
        background-image: attr(data-percent);
        position: absolute;
        width: 100%;
        top: 3.7rem;
        left: 0;
        font-size: 2rem;
        text-align: center;
      }
    }
    svg {
      width: 10rem;
      height: 10rem;
      &:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(-90deg);
      }
      &:nth-child(2) path {
        fill: none;
        stroke-width: 25;
        stroke-dasharray: 629;
        stroke: #fff;
        opacity:.9;
        animation: load 10s;
      }
    }
  }

}
