page-home {
  .home {
    padding-bottom: 20px;
  }
  .info_plus {
    padding: 20px 0;
    .info {
      .title {
        font-size: 26px;
        line-height: 1;
        color: $color-grey;
        font-weight: bold;
      }
    }
  }
  .proposer, .trouver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: $blanc;
    padding: 20px 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.2);
    .button-cercle {
      width: 0;
      text-align: center;
      ion-icon {
        height: 70px;
        width: 70px;
        line-height: 70px;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        font-size: 3.2em;
        transform: translateX(-50%);
      }
    }
    .proposer_left, .trouver_right {
      .title {
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 10px;
      }
    }
    .proposer_right, .trouver_left {
      width: 40%;
      text-align: center;
      img {
        width: 80%;
      }
    }
  }
  .proposer {
    background-color: $bleu;
    .button-cercle {
      ion-icon {
        background-color: $bleu;
      }
    }
    .proposer_left {
      margin-left: 50px;
    }
  }
  .trouver {
    background-color: $vert;
    .button-cercle {
      ion-icon {
        background-color: $vert;
      }
    }
    .trouver_right {
      margin-right: 50px;
    }
  }
}
