// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Mixins
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin bgImg() {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin flexCenter() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//  Enable media queries by default (to disable it, you have to override it to false after including this mixin
$enable-media-queries: true;

//
// Respond-to mixin
//
// @param $name
//
// @author Benjamin Gondy <bgondy@webqam.fr>
@mixin respond-to($name) {
  @if ($enable-media-queries) {
    @if ($name == xxs) {
      @media only screen and (min-width: $breakpoint-xxs) {
        @content;
      }
    } @else if ($name == xs) {
      @media only screen and (min-width: $breakpoint-xs) {
        @content;
      }
    } @else if ($name == s) {
      @media only screen and (min-width: $breakpoint-s) {
        @content;
      }
    } @else if ($name == m) {
      @media only screen and (min-width: $breakpoint-m) {
        @content;
      }
    } @else if ($name == l) {
      @media only screen and (min-width: $breakpoint-l) {
        @content;
      }
    } @else if ($name == xl) {
      @media only screen and (min-width: $breakpoint-xl) {
        @content;
      }
    } @else if ($name == fullHD) {
      @media only screen and (min-width: $breakpoint-fullHD) {
        @content;
      }
    }
  }
    //  Force use of the medium size for browsers that don't understand media queries
  @else if ($name == m
      OR $name == no-mq
      OR $name == false
      OR $name == ie8
      OR $name == lte-ie8
      OR $name == lt-ie8
  ) {
    @content;
  }
}

//Global
ion-app, ion-app.ios {
  background-color: $blanc;
  font-family: $font-text;
  font-weight: 300;
  @include fontSize(18px);
  @include respond-to(s) {
    font-size: inherit;
  }
  h1 {
    font-size: 35px;
    margin: 5px 0 5px 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
  }
  p {
    font-size: 12px;
    font-weight: 300;
  }
}

ion-img {
  background: none;
}

p {
  margin: 0;
}

.scroll-content, .fixed-content {
  margin-top: 50px !important;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

/*************
STRUCTURE
*************/
.container-8 {
  width: 80%;
  margin: 0 auto;
}

.container-9 {
  width: 90%;
  margin: 0 auto;
}

/*COMMUN*/

#auth .scroll, #home .scroll, #login .scroll {
  height: 90vh;
}

.header {
  text-align: center;

  &.logo_big {
    img {
      margin-top: 20%;
      padding: 40px 0;
    }
  }
  &.logo_little {
    img {
      width: 100%;
      padding: 20px 0;
    }
  }
}

.content-center {
  text-align: center;
}

//Headers
.toolbar-md-primary .bar-button-default-md {
  color: black;
}

.content {
  &-10 {
    height: 10vh;
  }
  &-20 {
    height: 20vh;
  }
  &-30 {
    height: 30vh;
  }
  &-40 {
    height: 40vh;
  }
  &-50 {
    height: 50vh;
  }
  &-60 {
    height: 60vh;
  }
  &-70 {
    height: 70vh;
  }
  &-80 {
    height: 80vh;
  }
}

/*COLOR*/
.bg-grey {
  background-color: $color-lightgrey;
}

/*ELEMENT*/
h2 {
  font-weight: bold;
  padding: 20px 0;
  &.center {
    text-align: center;
  }
}

.separator {
  height: 3px;
  background-color: $bleu;
  margin: 4vh 0;
}

/*icon*/
.icon-cercle {
  width: 35px;
  height: 35px;
  border: 2px solid $bleu;
  border-radius: 50%;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  .ion-checkmark {
    font-size: 25px;
  }
}

/*font-color*/
.font-grey-light {
  color: $noir;
  opacity: 0.8;
}

.font-black {
  color: $noir;
}

.font-bleu {
  color: $bleu;
}

.font-green {
  color: $vert;
}

/*IONIC TABLE*/
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border: none;
}

ion-header.header {
  background-color: transparent;
  background-image: inherit;
  .toolbar-background {
    background-color: transparent;
  }
  &:after {
    display: none;
  }
  .title {
    display: none;
  }
  .button {
    text-align: left;
    .icon {
      color: $bleu;
    }
    .back-text {
      display: none;
      padding: 20px 0;
    }
  }
}

.has-header {
  top: 0;
}

/****carousel de vélo******/
.carousel_bike {
  background-image: linear-gradient(-240deg, $bleu, $vert);
  border-radius: 5%;
  width: 200px;
  padding: 20px 10px;
  text-align: center;
  position: relative;
  .circle-img {
    border-radius: 50%;
    border: 2px solid $blanc;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    img {
      width: 120px;
    }
  }
  .h3 {
    color: $blanc;
    font-size: 24px;
    margin-bottom: 0px;
  }
  .h4 {
    margin-top: 0px;
    font-size: 14px;
    line-height: 14px;
    color: $blanc;
  }
  .param {
    position: absolute;
    right: -25px;
    bottom: -25px;
    img {
      width: 50px;
    }

  }
}

//Forms

.slides-form {
  height: 100%;
}

.left-buttons .button-form {
  i {
    font-size: 20px;
    color: $bleu;
  }
}

.pass_form {
  margin-left: 5px;
}

.list-input {
  text-align: left;
  padding-bottom: 2vh;
  color: $bleu;
  .champ {
    .label {
      font-weight: bold;
      .message {
        font-size: 14px;
        color: $bleu-clair;
      }
    }
    input, textarea {
      width: 100%;
      background-color: transparent;
      border-bottom: 2px solid $bleu-clair;
      margin-bottom: 3vh;
      color: $bleu;
      font-size: 14px;
    }
    textarea {
      min-height: 120px;
    }
  }
  .locker {
    display: flex;
    justify-content: space-between;
    label {
      width: 55%;
    }
    .preview {
      text-align: right;
      width: 35%;
      margin-left: 10px;
      font-size: 50px;
    }
  }
}

.list_button {
  text-align: center;
  .item-checkbox {
    .checkbox {
      display: none;
    }
  }
  .checkbox_form {
    border: 4px solid $bleu-clair;
    color: $bleu;
    background-color: $blanc;
    margin-bottom: 4vh;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 50px;
    &.active {
      border: 4px solid $bleu-clair;
      color: $blanc;
      background-color: $bleu;
    }
    &_light {
      display: inline-block;
    }
    &_full {
      width: 100%;
    }
  }
}

/**********
PROPOSE FORM
**********/
#propose-form {
  .line-under {
    height: 2px;
    padding: 0;
    background: $noir;
    overflow: visible;
    position: relative;
    margin: 5vh auto 5vh auto;
    text-align: center;
  }

  .line-under p {
    color: $noir;
    background-color: $blanc;
    top: -10px;
    margin-left: -40px;
    padding: 5px 25px;
    display: inline;
    position: absolute;
  }
}

//Buttons
.button {
  border-radius: 50px;
  width: 100%;
  margin-bottom: 45px;
  padding: 20px 0;
  font-weight: bold;
  font-size: 14px;
  &_inverse {
    &_blanc {
      border: 1px solid $bleu;
      color: $bleu;
      background-color: white;
      &:hover {
        color: white;
        background-color: $bleu;
      }
    }
    &_bleu {
      border: 1px solid $bleu;
      color: $blanc;
      background-color: $bleu;
      &:hover {
        color: $bleu;
        background-color: $blanc;
      }
    }
    &_bClair {
      border: 4px solid $bleu-clair;
      color: $bleu;
      background-color: $blanc;
    }
  }
  &_static {
    &_bleu {
      background-color: $bleu;
      color: $blanc;
    }
  }
  &_static {
    &_blanc {
      background-color: $blanc;
      color: $bleu;
      border: 3px solid $bleu;
    }
  }
}

.button_end {
  @include flexCenter();
  > div {
    width: 45%;
  }
}