page-tutorial {
  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 50px;
  }
  h2{
    padding: 5px 0;
  }
  .swiper-pagination-bullet{
    border:2px solid $blanc;
    opacity:1;
    background:transparent;
    width: 15px;
    height: 15px;

  }
  .swiper-pagination-bullet-active{
    background:$blanc;
    opacity:1;
  }
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    background: linear-gradient(135deg,$bleu,$vert);
    height: 90%;
    width:80%;
    color:$blanc;
    border-radius:10px;
    box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.2);
  }

  .slide-title {
    margin-top: 1.5rem;
    font-weight: 900;
  }

  .slide-image {
    height: 20%;
    width: auto;
    margin: 36px 0 10px;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;

    b {
      color: $blanc;
      font-weight:900;
    }
  }
  .button-clear-md, .button-ios{
    color:$blanc;
  }
}
