<ion-header>
    <ion-navbar color="primary">
        <ion-title>Trouver</ion-title>
        <ion-buttons start class="start">
            <button ion-button icon-left (click)="prev()" [ngClass]="{'hide':hide}">
                <ion-icon name="arrow-back"></ion-icon>
                Prev
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey">
    <ion-slides #findSlider (ionSlideDidChange)="slideChanged()">
        <ion-slide>
            <h2>Où cherchez-vous votre vélo ?</h2>
            <p class="text-info">La fonctionnalité de géolocalisation sera disponible prochainement !</p>
            <button ion-button icon-right disabled class="button button_inverse_blanc button-nonused">
                {{'Ma position' | translate}}
                <ion-icon ios="ios-disc" md="md-disc"></ion-icon>
            </button>
            <div class="line-under">
                <p>{{"OR" | translate}}</p>
            </div>
            <p class="text-info">Entrez l'addresse la plus exacte possible</p>
            <p *ngIf="submitAttempt" style="color: #ea6153;">Veuillez vérifier les champs s'il vous plaît.</p>
            <form [formGroup]="slideOneForm">
                <ion-list no-lines>
                    <ion-item class="input-form search">
                        <ion-input tappable (ionFocus)="showAddressModal()"
                                   [(ngModel)]="address.place"
                                   type="text"
                                   placeholder="Choisissez l'addresse exacte"
                                   formControlName="town"
                                   [class.invalid]="!slideOneForm.controls.town.valid
                               && (slideOneForm.controls.town.dirty || submitAttempt)">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="!slideOneForm.controls.town.valid
                        && (slideOneForm.controls.town.dirty || submitAttempt)">
                        <p>Veuillez entrer une addresse.</p>
                    </ion-item>

                    <!--Range-->
                    <ion-item class="input-form">
                        <ion-label>Dans un rayon de</ion-label>
                        <ion-select
                                formControlName="range"
                                type="number">
                            <ion-option value="100">100 mètres</ion-option>
                            <ion-option value="200">200 mètres</ion-option>
                            <ion-option value="400">400 mètres</ion-option>
                            <ion-option value="800">800 mètres</ion-option>
                            <ion-option value="1200">1200 mètres</ion-option>
                            <ion-option value="2000">1800 mètres</ion-option>
                            <ion-option value="2000">2200 mètres</ion-option>
                        </ion-select>
                    </ion-item>

                    <button ion-button icon-right (click)="next()" class="button button_inverse_bleu">
                        {{'NEXT' | translate}}
                        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
                    </button>
                </ion-list>
            </form>
        </ion-slide>
        <ion-slide class="list-type">
            <h2>Quel type de vélo ?</h2>
            <p *ngIf="submitAttempt" style="color: #ea6153;">Veuillez vérifier les champs s'il vous plaît.</p>
            <form [formGroup]="slideTwoForm">
                <ion-list no-lines>
                    <!--TYPE-->
                    <ion-row radio-group formControlName="type">
                        <ion-item *ngFor="let style of styles">
                            <ion-label>{{style.style}}</ion-label>
                            <ion-radio value="{{style.id}}" id="{{style.style}}">
                            </ion-radio>
                        </ion-item>
                    </ion-row>
                </ion-list>
            </form>
            <button ion-button icon-right (click)="next()" class="button button_inverse_bleu">
                {{'NEXT' | translate}}
                <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </button>
        </ion-slide>
        <ion-slide>
            <h2> De quand à quand ? </h2>
            <p *ngIf="submitAttempt" style="color: #ea6153;">Veuillez vérifier les champs s'il vous plaît.</p>
            <ion-list no-lines>
                <form [formGroup]="slideThreeForm">
                    <!--FROM-->
                    <ion-item class="input-form">
                        <ion-label floating>Du</ion-label>
                        <ion-datetime formControlName="from"
                                      displayFormat="DD/MM/YYYY"
                                      pickerFormat="DD-MM-YYYY"
                                      [min]="fromMinStr"
                                      [max]="fromMaxStr">
                        </ion-datetime>
                    </ion-item>
                    <!--TO-->
                    <ion-item class="input-form">
                        <ion-label floating>Au</ion-label>
                        <ion-datetime formControlName="to"
                                      displayFormat="DD/MM/YYYY"
                                      pickerFormat="DD-MM-YYYY"
                                      [min]="toMinStr"
                                      [max]="toMaxStr">
                        </ion-datetime>
                    </ion-item>
                </form>
                <button ion-button icon-right class="button button_inverse_bleu" (click)="next()">
                    {{'NEXT' | translate}}
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
                </button>
            </ion-list>
        </ion-slide>
        <ion-slide>
            <h2> Et pour quel prix ? </h2>
            <p *ngIf="submitAttempt" style="color: #ea6153;">Veuillez vérifier les champs s'il vous plaît.</p>
            <ion-list no-lines>
                <form [formGroup]="slideFourForm">
                    <!--RANGE-->
                    <ion-item>
                        <ion-range
                                [min]="0"
                                [max]="25"
                                [dualKnobs]="true"
                                [pin]="true"
                                formControlName="price">
                        </ion-range>
                    </ion-item>
                </form>

                <button ion-button icon-right class="button button_inverse_blanc" (click)="save()">
                    Rechercher
                    <ion-icon ios="ios-search" md="md-search"></ion-icon>
                </button>
            </ion-list>
        </ion-slide>
    </ion-slides>
</ion-content>
