<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
        <ion-buttons start class="start">
            <button ion-button icon-left (click)="prev()">
                <ion-icon name="arrow-back"></ion-icon>
                Prev
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
    <ion-slides #signupSlider pager class="container-7" >
        <ion-slide>
            <h1 class="title_page font-bleu">Connexion</h1>

            <button type="button" ion-button clear class="button button_inverse_blanc signup signup-RS">
                {{'GOOGLE_SIGNUP' | translate}}
            </button>
            <button type="button" ion-button clear class="button button_inverse_blanc signup signup-RS">
                {{'FACEBOOK_SIGNUP' | translate}}
            </button>

            <div class="line-under">
                <p>{{"OR" | translate}}</p>
            </div>

            <button ion-button icon-right class="button button_inverse_bleu" (click)="next()">
                {{'MAIL_SIGNUP' | translate}}
            </button>
            <a ng-href="#/tab/auth/login">{{'ALREADY_HAVE_ACCOUNT' | translate}}</a>
        </ion-slide>

        <ion-slide>
            <h2> {{"WHATS_YOUR_NAME" | translate}} </h2>
            <p *ngIf="submitAttempt" style="color: #ea6153;">Veuillez remplir tous les champs s'il vous plaît.</p>
            <form [formGroup]="slideOneForm">
                <ion-list no-lines>
                    <!--FIRSTNAME-->
                    <ion-item>
                        <ion-label floating>{{"FIRSTNAME" | translate}}</ion-label>
                        <ion-input formControlName="firstName" type="text"
                                   [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
                    </ion-item>

                    <ion-item
                            *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || submitAttempt)">
                        <p>Veuillez entrer un prénom valide.</p>
                    </ion-item>

                    <!--LASTNAME-->
                    <ion-item>
                        <ion-label floating>{{"LASTNAME" | translate}}</ion-label>
                        <ion-input formControlName="lastName" type="text"
                                   [class.invalid]="!slideOneForm.controls.lastName.valid && (slideOneForm.controls.lastName.dirty || submitAttempt)"></ion-input>
                    </ion-item>

                    <ion-item
                            *ngIf="!slideOneForm.controls.lastName.valid  && (slideOneForm.controls.lastName.dirty || submitAttempt)">
                        <p>Veuillez entrer un nom valide.</p>
                    </ion-item>
                </ion-list>
            </form>

            <button ion-button icon-right (click)="next()">
                {{'NEXT' | translate}}
                <ion-icon name="arrow-next"></ion-icon>
            </button>
        </ion-slide>

        <ion-slide>
            <h2> {{"YOUR_MAIL_AND_PASSWORD" | translate}} </h2>
            <form [formGroup]="slideTwoForm">
                <ion-list no-lines>
                    <!--EMAIL-->
                    <ion-item>
                        <ion-label floating>email</ion-label>
                        <ion-input
                                [class.invalid]="!slideTwoForm.controls.email.valid && (slideTwoForm.controls.email.dirty || submitAttempt)"
                                formControlName="email" type="text"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="slideTwoForm.controls.email.pending">
                        <p>Vérification du mail...</p>
                    </ion-item>

                    <ion-item
                            *ngIf="!slideTwoForm.controls.email.valid && !slideTwoForm.controls.email.pending && (slideTwoForm.controls.email.dirty || submitAttempt)">
                        <p>Désolé mais ce mail ne peut pas être utilisé.</p>
                    </ion-item>

                    <!--MOT DE PASSE-->
                    <ion-item>
                        <ion-label floating>{{"PASSWORD" | translate}}</ion-label>
                        <ion-input formControlName="passWord" type="password"
                                   [class.invalid]="!slideTwoForm.controls.passWord.valid && (slideTwoForm.controls.passWord.dirty || submitAttempt)"></ion-input>
                    </ion-item>

                    <ion-item
                            *ngIf="!slideTwoForm.controls.passWord.valid  && (slideTwoForm.controls.passWord.dirty || submitAttempt)">
                        <p>Please enter a valid password (at least 1 lowercase, 1 uppercase, 1 numeric, one special
                            character & must be eight characters or longer)</p>
                    </ion-item>
                </ion-list>
            </form>

            <button ion-button icon-right (click)="next()">
                {{'NEXT' | translate}}
                <ion-icon name="arrow-next"></ion-icon>
            </button>
        </ion-slide>

        <ion-slide>
            <h2> Vos informations personnelles </h2>
            <form [formGroup]="slideThreeForm">
                <ion-list no-lines>
                    <!--SEXE-->
                    <ion-item>
                        <ion-row radio-group formControlName="sex">
                            <ion-col col-4>
                                <ion-item no-lines>
                                    <!--<ion-label>Homme</ion-label>-->
                                    <ion-radio value="0" checked>
                                    </ion-radio>
                                </ion-item>
                            </ion-col>
                            <ion-col col-4>
                                <ion-item no-lines>
                                    <!--<ion-label>Femme</ion-label>-->
                                    <ion-radio value="1">
                                    </ion-radio>
                                </ion-item>
                            </ion-col>
                            <ion-col col-4>
                                <ion-item no-lines>
                                    <!--<ion-label>Autre</ion-label>-->
                                    <ion-radio value="2">
                                    </ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-item>

                    <!--AGE-->
                    <ion-item>
                        <ion-label floating>{{"AGE" | translate}}</ion-label>
                        <ion-input formControlName="age" type="number"
                                   [class.invalid]="!slideThreeForm.controls.age.valid && (slideThreeForm.controls.age.dirty || submitAttempt)"></ion-input>
                    </ion-item>

                    <ion-item
                            *ngIf="!slideThreeForm.controls.age.valid  && (slideThreeForm.controls.age.dirty || submitAttempt)">
                        <p>Veuillez entrer un age valide.</p>
                    </ion-item>

                    <!--PHONE-->
                    <ion-item>
                        <ion-label floating>{{"PHONE" | translate}}</ion-label>
                        <ion-input formControlName="phone" type="text"
                                   [class.invalid]="!slideThreeForm.controls.phone.valid && (slideThreeForm.controls.phone.dirty || submitAttempt)"></ion-input>
                    </ion-item>

                    <ion-item
                            *ngIf="!slideThreeForm.controls.phone.valid
                            && (slideThreeForm.controls.phone.dirty || submitAttempt)">
                        <p>Veuillez entrez un numéro de téléphone valide</p>
                    </ion-item>
                </ion-list>
            </form>

            <button ion-button icon-right (click)="next()">
                {{'NEXT' | translate}}
                <ion-icon name="arrow-next"></ion-icon>
            </button>
        </ion-slide>

        <ion-slide>
            <h2>Votre photo de profil</h2>
            <form [formGroup]="slideFourForm">
                <ion-list no-lines>
                    <ion-item>
                        <ion-input type="file" formControlName="profilPicture"></ion-input>
                    </ion-item>
                    <ion-item
                            *ngIf="!slideFourForm.controls.profilPicture.valid  && (slideFourForm.controls.profilPicture.dirty || submitAttempt)">
                        <p>Please add a profil picture.</p>
                    </ion-item>
                </ion-list>
            </form>

            <button ion-button full color="primary" (click)="save()">Create Account!</button>
        </ion-slide>

    </ion-slides>

</ion-content>