page-propose {
  ion-modal {
    z-index: 9999999999 !important;
  }

  /*list bike*/
  .container-bike {
    ion-slide {
      width: 50% !important;
      padding-bottom:20px;
      .h3,.h5,.h4{
        color:$blanc;
      }
      .list-bike{
        position:relative;
        margin: 0 5px;

        img.header{
          border-radius: 50%;
          width: 100px;
          height:auto;
          margin-bottom:10px;
          border:2px solid $bleu;
        }
        .h3{
          font-size:15px;
          font-weight:600;
        }
        .h5{
          font-size:12px;
          font-weight:100;
          text-transform:none;
        }
        .h4{
          margin-top:20px;
          font-size:20px;
        }
        .param {
          position: absolute;
          bottom: -20px;
          right: -5px;
          img {
            width: 40px;
            height: auto;
          }
        }

      }
      button.bike{
        background: linear-gradient(-132deg, $bleu,$vert);
        border-radius:20px;
        //background:transparent;
        padding-bottom:30px;
        margin-bottom:0;
      }
    }
  }

  ion-slides{
    height:inherit;
    ion-slide{
      overflow-y: auto;
      overflow-x: hidden;
      .item-textarea{
        margin-bottom:20px;
      }
      .text-info{
        text-align:left;
        color:$bleu;

      }
    }
  }

  .picture-bike{
    .item-md.item-block .item-inner,.item-ios.item-block .item-inner{
      border-bottom:none;
      padding-right:0;
    }
  }
  .list-type{
    .item-radio{
          border: 4px solid $bleu-clair !important;
          color: $bleu;
          background-color: $blanc;
          margin-bottom: 4vh;
          font-weight: bold;
          border-radius: 50px;
          padding: 5px 5px;
      .input-wrapper{
        text-align:center;
      }
      &-checked{
        border-color:$bleu !important;
        color:$blanc !important;
      }
      ion-radio{
        display:none;
      }
    }
  }
  .choice-price{
    .form-price{
      padding-bottom:20px;
      .title-price{
        text-align:left;
        color:$bleu;
        font-weight:900;
      }
      .price{
        border-bottom:2px solid $bleu-clair;
        font-size:30px;
        color:$bleu;
        font-weight:600;
        display:flex;
        justify-content:center;
        input{
          text-align:right;
        }
        span{
          margin: 13px 8px;
        }
      }

    }
  }
  .paiement{
    ion-input{
      border-bottom:2px solid $bleu-clair;

    }
  }
  .center-verti{
    margin-top: 40vh;
    transform: translateY(-50%);
  }
  .swiper-slide {
    align-items: flex-start;
    width:100%;
  }
  .input-cover {
    display: none;
  }
  input[type=file]:disabled + .custom-file-label {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
  }

  .file-contents {
    height: 150px;
    overflow: auto;
  }

  .file-container {
    margin: 15px auto;
    box-shadow: 1px 1px 5px 1px #d5d5d5;
    padding: 3px;
    max-height: 400px;
  }

  .error-container,
  .info-container {
    font-size: .9rem;
  }
  .error-container {
    > div {
      display: none;
      &.text-danger {
        color: red;
        display: block;
      }
    }
  }
  .custom-file-label {
    width: 100%;
    height: 175px;
    border: 3px solid rgba(cornflowerblue, .5);
    display: block;
    border-radius: 10px;
  }
  #file {
    display: none;
  }
  .m0 {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
