page-propose {
  ion-modal {
    z-index: 9999999999 !important;
  }

  .addcalendar {
    margin-top: 0;
  }

  /*list bike*/
  .container-bike {
    .slide-zoom {
      overflow: visible;
    }
    ion-slide {
      width: 50% !important;
      padding-bottom: 20px;
      .h3, .h5, .h4 {
        color: $blanc;
      }
      .list-bike {
        position: relative;
        margin: 0 5px;
        .button {
          padding: 20px 20px 25px;
          width: calc(100% - 2px);
        }
        img.header {
          border-radius: 50%;
          width: 100px;
          height: auto;
          margin-bottom: 10px;
          border: 2px solid $bleu;
        }
        .h3 {
          font-size: 15px;
          font-weight: 600;
        }
        .h5 {
          font-size: 12px;
          font-weight: 100;
          text-transform: none;
        }
        .h4 {
          margin-top: 20px;
          font-size: 20px;
        }
        .param {
          position: absolute;
          bottom: -20px;
          right: -5px;
          img {
            width: 40px;
            height: auto;
          }
        }

      }
      button.bike {
        background: linear-gradient(-132deg, $bleu, $vert);
        border-radius: 20px;
        //background:transparent;
        padding-bottom: 30px;
        margin-bottom: 0;
      }
    }
  }

  ion-slides {
    height: 100%;
    ion-slide {
      .item-textarea {
        margin-bottom: 20px;
      }
    }
  }

  .picture-bike {
    .item-md.item-block .item-inner, .item-ios.item-block .item-inner {
      border-bottom: none;
      padding-right: 0;
    }
  }
  .list-type {
    .item-radio {
      border: 4px solid $bleu-clair !important;
      color: $bleu;
      background-color: $blanc;
      margin-bottom: 2vh;
      font-weight: bold;
      border-radius: 50px;
      padding: 5px 5px;
      transition: .33s;
      .input-wrapper {
        text-align: center;
      }
      &-checked {
        border-color: $bleu !important;
        color: $blanc !important;
        background-color: #ededed;
        box-shadow: inset 0 5px 10px 0px rgba(0, 0, 0, 0.15);
      }

      .radio-md {
        margin: 0;
        .radio-icon {
          display: none;
        }
      }
    }
  }

  .choice-price {
    .form-price {
      padding-bottom: 20px;
      .title-price {
        text-align: left;
        color: $bleu;
        font-weight: 900;
      }
      .price {
        border-bottom: 2px solid $bleu-clair;
        font-size: 30px;
        color: $bleu;
        font-weight: 600;
        display: flex;
        justify-content: center;
        input {
          text-align: right;
        }
        span {
          margin: 13px 8px;
        }
      }

    }
  }
  .paiement {
    ion-input {
      border-bottom: 2px solid $bleu-clair;

    }
  }
  .input-cover {
    display: none;
  }
  input[type=file]:disabled + .custom-file-label {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
  }
  .files-container {
    ion-label {
      display: flex;
      flex-wrap: wrap;
      .file-container {
        max-height: 400px;
        width: 33%;
        position: relative;
        padding: 10px;
        .file-contents {
          border-radius: 5px;
          overflow: hidden;
          display: grid;
        }
        .remove {
          position: absolute;
          top: 15px;
          right: 15px;
          transform: translate(100% 100%);
          color: map-get($colors, danger);
          background-color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          opacity: .66;
          line-height: 30px;
        }
      }
    }
  }

  .error-container,
  .info-container {
    font-size: .9rem;
  }
  .error-container {
    > div {
      display: none;
      &.text-danger {
        color: red;
        display: block;
      }
    }
  }
  .custom-file-label {
    border: 2px solid map-get($colors, primary);
    height: 160px;
    width: 260px;
    border-radius: 10px;
    background-image: url('../assets/img/icons/upload.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center center;
  }
  #file {
    display: none;
  }
  .m0 {
    margin: 0 auto;
    display: block;
    text-align: center;
  }

}

.item-ios .radio-ios {
  margin: 0;
}

.radio-ios .radio-icon {
  display: none !important;
}
